<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharescrow.payment.repository.HistoryRepository">
    <select id = "insert">
        INSERT INTO History(id, orderId, stage, createdAt, updatedAt)
        VALUES (#{id}, #{orderId}, #{stage}, #{createdAt}, #{updatedAt})
    </select>

    <select id ="getConfirmedNumber" resultType="int">
        SELECT Count(*) FROM History WHERE id IN (SELECT id FROM `Order` WHERE groupId = #{groupId}) AND stage = "ORDER_CONFIRM";
    </select>

    <select id="getLatestHistoryByOrderId" resultType="com.sharescrow.payment.model.History">
        SELECT * FROM (SELECT * FROM History WHERE History.orderId = #{orderId}) as p ORDER BY p.createdAt DESC LIMIT 1;
    </select>
</mapper>