<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharescrow.payment.repository.OrderRepository">

    <select id="selectOrderById" resultType="com.sharescrow.payment.model.Order">
        SELECT * FROM `Order` WHERE id = #{id}
    </select>
    <select id="selectOrderByUserId" resultType="com.sharescrow.payment.model.Order">
        SELECT * FROM `Order` WHERE userId = #{userId}
    </select>
    <insert id="insert" parameterType="com.sharescrow.payment.model.Order" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `Order`(id,minShare, productId, userId, transactionId, state, createdAt, updatedAt) VALUES(#{id},#{minShare},#{productId},#{userId},#{transactionId},#{state},#{createdAt},#{updatedAt})
    </insert>
    <update id="update" parameterType="com.sharescrow.payment.model.Order">
        UPDATE `Order` SET
        minShare = #{minShare}, productId = #{productId},
         userId = #{userId}, transactionId = #{transactionId},
          state = #{state}, updatedAt = NOW()
        WHERE id = #{id}
    </update>
    <select id="selectOrderByGrouprId">
        SELECT * FROM `Order` WHERE groupId = #{groupId}
    </select>
    <select id="selectOrderByTransactionId" resultType="com.sharescrow.payment.model.Transaction">
      SELECT `Order`.* FROM `Order` JOIN Transaction ON `Order`.id = Transaction.orderId WHERE Transcation.id = #{transactionId}
    </select>

    <update id="updateWhenGroupMatched" parameterType="java.util.HashMap">
        UPDATE `Order` SET groupId = #{groupId}, state = #{dataState}
        WHERE id IN
        <foreach collection="orderIds" item="orderId" separator="," open="(" close=")">
            #{orderId}
        </foreach>
    </update>

    <update id="updateWhenGroupExpired" parameterType="java.util.HashMap">
        UPDATE `Order` SET state = #{datastate} WHERE groupId = #{groupId}
    </update>
</mapper>
